<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sign-In Kanban Task Management</title>

    <link rel="shortcut icon" href="./Assets/applogo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="authetication-bg">
        <div class="register-form">
            <div class="form-site-title"><i class="fa-brands fa-uikit"></i> Kanban Task Management</div>
            <div class="form-title">Register</div>
            <div class="form-inputs-field">
                <label for="name-register-inp">UserName</label>
                <input type="text" name="name-register-inp" id="name-register-inp">
                <label for="email-register-inp">Email Id</label>
                <input type="email" name="email-register-inp" id="email-register-inp">
                <label for="password-register-inp">Password</label>
                <input type="password" name="password-register-inp" id="password-register-inp">
            </div>
            <div class="form-cta">
                <div class="form-cta-link">Already a User ?<a href="/signin.html">Signin here</a></div>
                <div class="form-cta-btn" id="form-register-btn">Register</div>
            </div>
        </div>
    </div>
    <script src="../Javascript/register.js" type="module"></script>
</body>
</html>